@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media screen and (max-width: 800px) {
	body {
		margin: 0px;
	}
	#contenedor {
		margin: 0px;
	}
	nav {
		width: 100%;
		background-color: #ffcc66;
		color: #000;
	}
	section {
		width: 100%;
		margin: 0px;
		border-top: solid 1px #000;
		border-bottom: solid 1px #000;
	}
	aside {
		width: 100%;
	}
	a {
		color: #000;
	}
	ul li {
		margin-top: 10px;
	}

}